.modal-title {
   text-align: center;
    width: 100%;
}
.modal-body {   
 width: 100%;
 display: flex;
 justify-content:center;
}
.modal-footer {   
    width: 100%;
    display: flex;
    justify-content:center;
   }
   .modal-content{
    width: 80%;
   }